flows.json
[
    {
        "id": "e8f3c78bf60f1cb5",
        "type": "tab",
        "label": "Authentication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69d15798baa0bd4a",
        "type": "tab",
        "label": "Open-door history",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "377d76101699f417",
        "type": "tab",
        "label": "Open door remote",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24795196996c71c6",
        "type": "tab",
        "label": "Password setting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37b937f18a9b9403",
        "type": "tab",
        "label": "Card setting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc4bc3d95db93427",
        "type": "tab",
        "label": "Others",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8784652f4df53f52",
        "type": "ui_group",
        "name": "Default",
        "tab": "a98f1f5134af0f79",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a98f1f5134af0f79",
        "type": "ui_tab",
        "name": "Login",
        "icon": " fa-sign-in",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "744f75fc62d28b76",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2c45c42f4405f6b9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "58ed85dc7f362a7e",
        "type": "ui_group",
        "name": "History",
        "tab": "2c45c42f4405f6b9",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d61508040186c2be",
        "type": "ui_group",
        "name": "Request",
        "tab": "2c45c42f4405f6b9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0da7ee0a093dd653",
        "type": "ui_tab",
        "name": "Setting",
        "icon": "fa-cog",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "59d8d615e4bc3ea8",
        "type": "ui_group",
        "name": "Password-key",
        "tab": "0da7ee0a093dd653",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c203151a5c185da",
        "type": "ui_group",
        "name": "Password-admin",
        "tab": "0da7ee0a093dd653",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c641f7d8cb07766",
        "type": "ui_group",
        "name": "Cards",
        "tab": "0da7ee0a093dd653",
        "order": 4,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30d70e2f569b0487",
        "type": "ui_group",
        "name": "Others",
        "tab": "0da7ee0a093dd653",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4afbff83344e8de",
        "type": "ui_group",
        "name": "Others_Form",
        "tab": "0da7ee0a093dd653",
        "order": 6,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ebf5054103628db",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "42e5663b5bbcdd14",
        "type": "ui_ui_control",
        "z": "e8f3c78bf60f1cb5",
        "name": "",
        "events": "all",
        "x": 880,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5b9ae03ef4429e44",
        "type": "change",
        "z": "e8f3c78bf60f1cb5",
        "name": "show other tabs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Login\"],\"show\":[\"Home\",\"Setting\"]},\"tab\":\"Home\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "42e5663b5bbcdd14"
            ]
        ]
    },
    {
        "id": "52efced3bcc508de",
        "type": "switch",
        "z": "e8f3c78bf60f1cb5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "5b9ae03ef4429e44",
                "5a09763522cdabec"
            ],
            [
                "086cb402d9374098"
            ]
        ]
    },
    {
        "id": "086cb402d9374098",
        "type": "ui_toast",
        "z": "e8f3c78bf60f1cb5",
        "position": "top right",
        "displayTime": "2",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "fail",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "41cb0ec98a7934db",
        "type": "function",
        "z": "e8f3c78bf60f1cb5",
        "name": "checkValid",
        "func": "if (msg.payload.email == flow.get('email') && msg.payload.password == flow.get('password')) {\n    msg.payload = true;\n}\nelse if (msg.payload.email != flow.get('email')) {\n    msg.payload = \"Sai email\";\n}\nelse {\n    msg.payload = \"Sai mật khẩu\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nmsg.payload[\"tab\"] = \"Home\";\nreturn msg;",
        "libs": [],
        "x": 250,
        "y": 320,
        "wires": [
            [
                "52efced3bcc508de"
            ]
        ]
    },
    {
        "id": "e21976abf8416352",
        "type": "ui_form",
        "z": "e8f3c78bf60f1cb5",
        "name": "",
        "label": "Login",
        "group": "8784652f4df53f52",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password": ""
        },
        "payload": "",
        "submit": "LOGIN",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "41cb0ec98a7934db"
            ]
        ]
    },
    {
        "id": "5a09763522cdabec",
        "type": "change",
        "z": "e8f3c78bf60f1cb5",
        "name": "set noti success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Đăng nhập thành công\"",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "email",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "password",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "7c12bb0358818f42"
            ]
        ]
    },
    {
        "id": "7c12bb0358818f42",
        "type": "ui_toast",
        "z": "e8f3c78bf60f1cb5",
        "position": "top right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "success",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "2b790290afff84f2",
        "type": "http request",
        "z": "e8f3c78bf60f1cb5",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 120,
        "wires": [
            [
                "12081aefcb967257"
            ]
        ]
    },
    {
        "id": "12081aefcb967257",
        "type": "json",
        "z": "e8f3c78bf60f1cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "126f4343190fca01"
            ]
        ]
    },
    {
        "id": "97f28b0e51cf2c91",
        "type": "inject",
        "z": "e8f3c78bf60f1cb5",
        "name": "",
        "props": [
            {
                "p": "payload.email",
                "v": "btv@gmail.com",
                "vt": "str"
            },
            {
                "p": "payload.password",
                "v": "btv123",
                "vt": "str"
            },
            {
                "p": "payload.uids",
                "v": "[\"123\", \"456\"]",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "fba57c79c52168d4"
            ]
        ]
    },
    {
        "id": "67f24e86abb25aa4",
        "type": "http request",
        "z": "e8f3c78bf60f1cb5",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 490,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "cd1243c7946cf622",
        "type": "inject",
        "z": "e8f3c78bf60f1cb5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "2b790290afff84f2"
            ]
        ]
    },
    {
        "id": "126f4343190fca01",
        "type": "change",
        "z": "e8f3c78bf60f1cb5",
        "name": "get acc from cloud",
        "rules": [
            {
                "t": "set",
                "p": "email",
                "pt": "flow",
                "to": "payload.feeds[0].field1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload.feeds[0].field2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fba57c79c52168d4",
        "type": "change",
        "z": "e8f3c78bf60f1cb5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"api_key\":\"8MQ6OOBCODPX2I0Z\",\"field1\":\"btv@gmail.com\",\"field2\":\"btv123\",\"field3\":\"123\",\"field4\":\"456\",\"field5\":5,\"field6\":60,\"field7\":10,\"field8\":\"456\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "67f24e86abb25aa4"
            ]
        ]
    },
    {
        "id": "49a8b56f3efa3a45",
        "type": "ui_table",
        "z": "69d15798baa0bd4a",
        "group": "58ed85dc7f362a7e",
        "name": "History",
        "order": 0,
        "width": "0",
        "height": "0",
        "columns": [
            {
                "field": "time",
                "title": "Thời gian",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "method",
                "title": "Phương thức mở",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "Trạng thái",
                "width": "",
                "align": "left",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "uid",
                "title": "UID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "fe0ee6c0cb3e6560",
        "type": "inject",
        "z": "69d15798baa0bd4a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "2cdbc7da3c1b26a2"
            ]
        ]
    },
    {
        "id": "2cdbc7da3c1b26a2",
        "type": "http request",
        "z": "69d15798baa0bd4a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2372286/feeds.json?api_key=3QTKD73Z92GV0WG9&results=20",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 120,
        "wires": [
            [
                "d8d4557ada0ee7dd"
            ]
        ]
    },
    {
        "id": "d8d4557ada0ee7dd",
        "type": "json",
        "z": "69d15798baa0bd4a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "67975cc16d6705c2"
            ]
        ]
    },
    {
        "id": "6ff58a385cc8e97c",
        "type": "inject",
        "z": "69d15798baa0bd4a",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload.method",
                "v": "thẻ",
                "vt": "str"
            },
            {
                "p": "payload.status",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "payload.uid",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "cbf5e48ef3534d75"
            ]
        ]
    },
    {
        "id": "cbf5e48ef3534d75",
        "type": "http request",
        "z": "69d15798baa0bd4a",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=CZ3WNOQBX0A6SUA8&field1={{payload.method}}&field2={{payload.status}}&field3={{payload.uid}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "67975cc16d6705c2",
        "type": "function",
        "z": "69d15798baa0bd4a",
        "name": "push to array",
        "func": "var history = []\nmsg.payload.feeds.forEach(function(feed) {\n    history.push({\n        \"time\": new Date(feed[\"created_at\"]).toLocaleString('en-US'),\n        \"method\": feed.field1,\n        \"status\": feed.field2,\n        \"uid\": feed.field3\n    })\n});\nmsg.payload = history;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "49a8b56f3efa3a45"
            ]
        ]
    },
    {
        "id": "0ba4f794d38274b7",
        "type": "ui_text",
        "z": "377d76101699f417",
        "group": "d61508040186c2be",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You have a request to open the door",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 300,
        "wires": []
    },
    {
        "id": "ba0dfc0f0d928b65",
        "type": "ui_button",
        "z": "377d76101699f417",
        "name": "",
        "group": "d61508040186c2be",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Accept",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "bd93f1e7f00c75e3"
            ]
        ]
    },
    {
        "id": "71628a583d87efb8",
        "type": "ui_button",
        "z": "377d76101699f417",
        "name": "",
        "group": "d61508040186c2be",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Reject",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "bd93f1e7f00c75e3"
            ]
        ]
    },
    {
        "id": "1ecf15912264b08e",
        "type": "inject",
        "z": "377d76101699f417",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c726ec9326ab4c8d",
        "type": "ui_ui_control",
        "z": "377d76101699f417",
        "name": "",
        "events": "all",
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d9c495ca6201d639",
        "type": "change",
        "z": "377d76101699f417",
        "name": "show request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Home_Request\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "c726ec9326ab4c8d"
            ]
        ]
    },
    {
        "id": "3d8d85cf19f759d2",
        "type": "switch",
        "z": "377d76101699f417",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "d9c495ca6201d639"
            ],
            [
                "83392c3c1b1f945f"
            ]
        ]
    },
    {
        "id": "83392c3c1b1f945f",
        "type": "change",
        "z": "377d76101699f417",
        "name": "hide request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Home_Request\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "c726ec9326ab4c8d"
            ]
        ]
    },
    {
        "id": "2cd4ab037e56a48e",
        "type": "inject",
        "z": "377d76101699f417",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 290,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "281d791ddf97c087",
        "type": "mqtt in",
        "z": "377d76101699f417",
        "name": "",
        "topic": "08/open-request",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0ebf5054103628db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "3d8d85cf19f759d2",
                "93e3900162cafcd7"
            ]
        ]
    },
    {
        "id": "bd93f1e7f00c75e3",
        "type": "mqtt out",
        "z": "377d76101699f417",
        "name": "",
        "topic": "08/handle-open-remote",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ebf5054103628db",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "93e3900162cafcd7",
        "type": "debug",
        "z": "377d76101699f417",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 240,
        "wires": []
    },
    {
        "id": "1cd0546a99032403",
        "type": "comment",
        "z": "377d76101699f417",
        "name": "",
        "info": "handle xong -> từ mạch publish lên topic open-request là 0 để ẩn request",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "da490973ae97ee82",
        "type": "switch",
        "z": "24795196996c71c6",
        "name": "",
        "property": "payload.feeds[0].field3",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "cf86d3801cf971bc"
            ],
            [
                "e9974d971981c077"
            ]
        ]
    },
    {
        "id": "e9a285525e788f1d",
        "type": "ui_text",
        "z": "24795196996c71c6",
        "group": "59d8d615e4bc3ea8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current key-password: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1600,
        "y": 160,
        "wires": []
    },
    {
        "id": "e97c9352bb42f735",
        "type": "ui_text_input",
        "z": "24795196996c71c6",
        "name": "",
        "label": "New key-password",
        "tooltip": "",
        "group": "59d8d615e4bc3ea8",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "cac5aaee4f4d7ed2"
            ]
        ]
    },
    {
        "id": "cf86d3801cf971bc",
        "type": "change",
        "z": "24795196996c71c6",
        "name": "set noti",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Not have password yet",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 160,
        "wires": [
            [
                "e9a285525e788f1d"
            ]
        ]
    },
    {
        "id": "7084077281f6144c",
        "type": "inject",
        "z": "24795196996c71c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "63d9a299fb02dd53"
            ]
        ]
    },
    {
        "id": "e6a2c32e2cb0f6ab",
        "type": "json",
        "z": "24795196996c71c6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "b5096897f8da1b3b"
            ]
        ]
    },
    {
        "id": "b5096897f8da1b3b",
        "type": "switch",
        "z": "24795196996c71c6",
        "name": "check if not have data",
        "property": "payload.feeds",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "cf86d3801cf971bc",
                "0407c44eafcc943a"
            ],
            [
                "da490973ae97ee82",
                "4616edad8d84c721"
            ]
        ]
    },
    {
        "id": "5e992207c3bf8cda",
        "type": "inject",
        "z": "24795196996c71c6",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "99163c871cb822c5"
            ]
        ]
    },
    {
        "id": "99163c871cb822c5",
        "type": "http request",
        "z": "24795196996c71c6",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=8MQ6OOBCODPX2I0Z&field3=123",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "05ca11fe70e518db",
        "type": "ui_button",
        "z": "24795196996c71c6",
        "name": "",
        "group": "59d8d615e4bc3ea8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Change",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "newPassword",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "3026ae580dbd94aa"
            ]
        ]
    },
    {
        "id": "cac5aaee4f4d7ed2",
        "type": "change",
        "z": "24795196996c71c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newPassword",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "05ca11fe70e518db"
            ]
        ]
    },
    {
        "id": "9791eaf9e448dd3f",
        "type": "function",
        "z": "24795196996c71c6",
        "name": "get lastest info",
        "func": "const info = msg.payload.feeds[0]\nconst {created_at, entry_id, ...fields} = info\n\nmsg.payload = { \n    \"api_key\": \"8MQ6OOBCODPX2I0Z\",\n    ...fields,\n    \"field3\": flow.get('newPassword')\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 600,
        "wires": [
            [
                "6e968c9f95faf2c1"
            ]
        ]
    },
    {
        "id": "3026ae580dbd94aa",
        "type": "http request",
        "z": "24795196996c71c6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "b6f6ad70da1d40d5"
            ]
        ]
    },
    {
        "id": "9d7bcdc1a26a03ca",
        "type": "change",
        "z": "24795196996c71c6",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "newPassword",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6e968c9f95faf2c1",
        "type": "http request",
        "z": "24795196996c71c6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1210,
        "y": 600,
        "wires": [
            [
                "9d7bcdc1a26a03ca"
            ]
        ]
    },
    {
        "id": "b6f6ad70da1d40d5",
        "type": "json",
        "z": "24795196996c71c6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 600,
        "wires": [
            [
                "9791eaf9e448dd3f"
            ]
        ]
    },
    {
        "id": "4616edad8d84c721",
        "type": "switch",
        "z": "24795196996c71c6",
        "name": "",
        "property": "payload.feeds[0].field8",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 320,
        "wires": [
            [
                "0407c44eafcc943a"
            ],
            [
                "133b7b5327a62e44"
            ]
        ]
    },
    {
        "id": "921bc309d43dd57c",
        "type": "ui_text",
        "z": "24795196996c71c6",
        "group": "3c203151a5c185da",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current admin-password: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1590,
        "y": 300,
        "wires": []
    },
    {
        "id": "0407c44eafcc943a",
        "type": "change",
        "z": "24795196996c71c6",
        "name": "set noti",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Not have password yet",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 300,
        "wires": [
            [
                "921bc309d43dd57c"
            ]
        ]
    },
    {
        "id": "47434ce6e42809cc",
        "type": "ui_text_input",
        "z": "24795196996c71c6",
        "name": "",
        "label": "New admin-password",
        "tooltip": "",
        "group": "3c203151a5c185da",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "9564db75c172abd5"
            ]
        ]
    },
    {
        "id": "df7a0acefc96d8a1",
        "type": "ui_button",
        "z": "24795196996c71c6",
        "name": "",
        "group": "3c203151a5c185da",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Change",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "newAdminPassword",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 720,
        "wires": [
            [
                "3c8cc24f39a3acbd"
            ]
        ]
    },
    {
        "id": "9564db75c172abd5",
        "type": "change",
        "z": "24795196996c71c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newPassword",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 720,
        "wires": [
            [
                "df7a0acefc96d8a1"
            ]
        ]
    },
    {
        "id": "3c8cc24f39a3acbd",
        "type": "http request",
        "z": "24795196996c71c6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 820,
        "wires": [
            [
                "bbe40d253ba787b0"
            ]
        ]
    },
    {
        "id": "33f08916857cb008",
        "type": "function",
        "z": "24795196996c71c6",
        "name": "get lastest info",
        "func": "const info = msg.payload.feeds[0]\nconst {created_at, entry_id, ...fields} = info\n\nmsg.payload = { \n    \"api_key\": \"8MQ6OOBCODPX2I0Z\",\n    ...fields,\n    \"field8\": flow.get('newPassword')\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 820,
        "wires": [
            [
                "24c86b3b41559c0e"
            ]
        ]
    },
    {
        "id": "24c86b3b41559c0e",
        "type": "http request",
        "z": "24795196996c71c6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1210,
        "y": 820,
        "wires": [
            [
                "93f8ccb3b0f03303"
            ]
        ]
    },
    {
        "id": "bbe40d253ba787b0",
        "type": "json",
        "z": "24795196996c71c6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 820,
        "wires": [
            [
                "33f08916857cb008"
            ]
        ]
    },
    {
        "id": "93f8ccb3b0f03303",
        "type": "change",
        "z": "24795196996c71c6",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "newAdminPassword",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e9974d971981c077",
        "type": "change",
        "z": "24795196996c71c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.feeds[0].field3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 240,
        "wires": [
            [
                "e9a285525e788f1d"
            ]
        ]
    },
    {
        "id": "133b7b5327a62e44",
        "type": "change",
        "z": "24795196996c71c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.feeds[0].field8",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 340,
        "wires": [
            [
                "921bc309d43dd57c"
            ]
        ]
    },
    {
        "id": "63d9a299fb02dd53",
        "type": "http request",
        "z": "24795196996c71c6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "e6a2c32e2cb0f6ab"
            ]
        ]
    },
    {
        "id": "69f5881b383eb023",
        "type": "ui_list",
        "z": "37b937f18a9b9403",
        "group": "0c641f7d8cb07766",
        "name": "card list",
        "order": 0,
        "width": 0,
        "height": 0,
        "lineType": "three",
        "actionType": "menu",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 580,
        "y": 500,
        "wires": [
            [
                "70ede378f6f3b978",
                "41604180f150e57b"
            ]
        ]
    },
    {
        "id": "a938ddf8ce85deab",
        "type": "inject",
        "z": "37b937f18a9b9403",
        "d": true,
        "name": "data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"123\",\"456\"]",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "26d3a3b91c9ba89d"
            ]
        ]
    },
    {
        "id": "fc0c60b09610a81f",
        "type": "function",
        "z": "37b937f18a9b9403",
        "name": "convert to ui-list",
        "func": "const cardObjs = []\nmsg.payload.forEach(function(uid) {\n    cardObjs.push({\"title\": uid, \"menu\": [\"Remove\"]})\n});\nmsg.payload = cardObjs\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "69f5881b383eb023"
            ]
        ]
    },
    {
        "id": "26d3a3b91c9ba89d",
        "type": "http request",
        "z": "37b937f18a9b9403",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=8MQ6OOBCODPX2I0Z&field4={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c6d2cdf91128a39d",
        "type": "http request",
        "z": "37b937f18a9b9403",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/fields/4/last.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 400,
        "wires": [
            [
                "d99048c0afe19012"
            ]
        ]
    },
    {
        "id": "d99048c0afe19012",
        "type": "json",
        "z": "37b937f18a9b9403",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "7e51cbba013d26fc"
            ]
        ]
    },
    {
        "id": "e0db8cf93a7a96ee",
        "type": "inject",
        "z": "37b937f18a9b9403",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "c6d2cdf91128a39d"
            ]
        ]
    },
    {
        "id": "7e51cbba013d26fc",
        "type": "function",
        "z": "37b937f18a9b9403",
        "name": "convert to array",
        "func": "msg.payload = msg.payload.field4.split(',')\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 500,
        "wires": [
            [
                "fc0c60b09610a81f",
                "49cdb41276e1afbf"
            ]
        ]
    },
    {
        "id": "4a1f0df62171cb64",
        "type": "function",
        "z": "37b937f18a9b9403",
        "name": "remove from arr",
        "func": "const info = msg.payload.feeds[0]\nconst {created_at, entry_id, ...fields} = info\n\nconst uids = flow.get('uids').filter(item => item !== flow.get('selectedUid'))\n\nmsg.payload = { \n    \"api_key\": \"8MQ6OOBCODPX2I0Z\",\n    ...fields,\n    \"field4\": uids.join(',')\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 680,
        "wires": [
            [
                "34fd68572abde45f"
            ]
        ]
    },
    {
        "id": "49cdb41276e1afbf",
        "type": "change",
        "z": "37b937f18a9b9403",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "uids",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "70ede378f6f3b978",
        "type": "http request",
        "z": "37b937f18a9b9403",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 250,
        "y": 680,
        "wires": [
            [
                "e4c560e05531630f"
            ]
        ]
    },
    {
        "id": "e4c560e05531630f",
        "type": "json",
        "z": "37b937f18a9b9403",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 680,
        "wires": [
            [
                "4a1f0df62171cb64"
            ]
        ]
    },
    {
        "id": "4254015e0ea557dd",
        "type": "change",
        "z": "37b937f18a9b9403",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "uids",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "selectedUid",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 680,
        "wires": [
            [
                "c6d2cdf91128a39d"
            ]
        ]
    },
    {
        "id": "34fd68572abde45f",
        "type": "http request",
        "z": "37b937f18a9b9403",
        "name": "update cards",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 750,
        "y": 680,
        "wires": [
            [
                "4254015e0ea557dd"
            ]
        ]
    },
    {
        "id": "41604180f150e57b",
        "type": "change",
        "z": "37b937f18a9b9403",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedUid",
                "pt": "flow",
                "to": "payload.title",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4a0f712f941354f8",
        "type": "ui_form",
        "z": "fc4bc3d95db93427",
        "name": "",
        "label": "",
        "group": "a4afbff83344e8de",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Incorrect input in (times)",
                "value": "timesIncorrect",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Lock in (seconds)",
                "value": "lockTime",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Alarm sounds within (seconds)",
                "value": "soundTime",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "timesIncorrect": "",
            "lockTime": "",
            "soundTime": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "03202adc2609059c",
                "c94bc51f35a80a7d"
            ]
        ]
    },
    {
        "id": "1a26611f652c65ba",
        "type": "ui_text",
        "z": "fc4bc3d95db93427",
        "group": "30d70e2f569b0487",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Incorrect input in {{msg.payload.feeds[0].field5}} times",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "0e6a32a0de09632c",
        "type": "ui_text",
        "z": "fc4bc3d95db93427",
        "group": "30d70e2f569b0487",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "will lock in {{msg.payload.feeds[0].field6}} seconds",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "40726f4453fc7c64",
        "type": "ui_text",
        "z": "fc4bc3d95db93427",
        "group": "30d70e2f569b0487",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "and alarm will sound within {{msg.payload.feeds[0].field7}} seconds",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "f337e4c9ad53c2f3",
        "type": "ui_button",
        "z": "fc4bc3d95db93427",
        "name": "",
        "group": "30d70e2f569b0487",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Change",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "2556a74b4f385095"
            ]
        ]
    },
    {
        "id": "2556a74b4f385095",
        "type": "change",
        "z": "fc4bc3d95db93427",
        "name": "show form",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Setting_Others_Form\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "aabb2f5be26e6bba"
            ]
        ]
    },
    {
        "id": "aabb2f5be26e6bba",
        "type": "ui_ui_control",
        "z": "fc4bc3d95db93427",
        "name": "",
        "events": "all",
        "x": 480,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "03202adc2609059c",
        "type": "change",
        "z": "fc4bc3d95db93427",
        "name": "hide form",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Setting_Others_Form\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "2e5fe27c3cbe9963"
            ]
        ]
    },
    {
        "id": "2e5fe27c3cbe9963",
        "type": "ui_ui_control",
        "z": "fc4bc3d95db93427",
        "name": "",
        "events": "all",
        "x": 500,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "da950101af6bed06",
        "type": "inject",
        "z": "fc4bc3d95db93427",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "03202adc2609059c"
            ]
        ]
    },
    {
        "id": "3acddf9bf5b56cd6",
        "type": "ui_toast",
        "z": "fc4bc3d95db93427",
        "position": "top right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 1080,
        "wires": []
    },
    {
        "id": "10401aa63b8dbb95",
        "type": "change",
        "z": "fc4bc3d95db93427",
        "name": "show noti success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Change setting successfully",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1080,
        "wires": [
            [
                "3acddf9bf5b56cd6"
            ]
        ]
    },
    {
        "id": "69d848291e2188ad",
        "type": "switch",
        "z": "fc4bc3d95db93427",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 90,
        "y": 840,
        "wires": [
            [
                "45e2da8beb6dfb08"
            ]
        ]
    },
    {
        "id": "c94bc51f35a80a7d",
        "type": "function",
        "z": "fc4bc3d95db93427",
        "name": "check if all fields null",
        "func": "if(msg.payload.timesIncorrect == null &&\n    msg.payload.lockTime == null &&\n    msg.payload.soundTime == null)\n    msg.payload = null\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 720,
        "wires": [
            [
                "69d848291e2188ad"
            ]
        ]
    },
    {
        "id": "0d0e424a66b15939",
        "type": "http request",
        "z": "fc4bc3d95db93427",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "a28f5a6ffd5015b3"
            ]
        ]
    },
    {
        "id": "a28f5a6ffd5015b3",
        "type": "json",
        "z": "fc4bc3d95db93427",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "1a26611f652c65ba",
                "0e6a32a0de09632c",
                "40726f4453fc7c64"
            ]
        ]
    },
    {
        "id": "d127753adf5eaa5c",
        "type": "inject",
        "z": "fc4bc3d95db93427",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "0d0e424a66b15939"
            ]
        ]
    },
    {
        "id": "50ab9c4d9b16d4cc",
        "type": "http request",
        "z": "fc4bc3d95db93427",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 960,
        "wires": [
            [
                "97b86ae06249722c"
            ]
        ]
    },
    {
        "id": "6a3387f14aa618c7",
        "type": "function",
        "z": "fc4bc3d95db93427",
        "name": "get lastest info",
        "func": "const info = msg.payload.feeds[0]\nconst {created_at, entry_id, ...fields} = info\n\nmsg.payload = { \n    \"api_key\": \"8MQ6OOBCODPX2I0Z\",\n    ...fields,\n    \"field5\": flow.get('timesIncorrect'),\n    \"field6\": flow.get('lockTime'),\n    \"field7\": flow.get('soundTime'),\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 960,
        "wires": [
            [
                "22926f813f350695"
            ]
        ]
    },
    {
        "id": "97b86ae06249722c",
        "type": "json",
        "z": "fc4bc3d95db93427",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 960,
        "wires": [
            [
                "6a3387f14aa618c7"
            ]
        ]
    },
    {
        "id": "22926f813f350695",
        "type": "http request",
        "z": "fc4bc3d95db93427",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 750,
        "y": 960,
        "wires": [
            [
                "0d0e424a66b15939",
                "10401aa63b8dbb95"
            ]
        ]
    },
    {
        "id": "45e2da8beb6dfb08",
        "type": "change",
        "z": "fc4bc3d95db93427",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timesIncorrect",
                "pt": "flow",
                "to": "payload.timesIncorrect",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lockTime",
                "pt": "flow",
                "to": "payload.lockTime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "soundTime",
                "pt": "flow",
                "to": "payload.soundTime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 960,
        "wires": [
            [
                "50ab9c4d9b16d4cc"
            ]
        ]
    }
]