flows.json
[
    {
        "id": "b0aafce809c04ac4",
        "type": "tab",
        "label": "Authentication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6772d2f81a6e4c8",
        "type": "tab",
        "label": "Open-door history",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3fc6adadafdd20e0",
        "type": "tab",
        "label": "Open door remote",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c273bcac53a9567",
        "type": "tab",
        "label": "Password setting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "adcb572b0eab86bd",
        "type": "tab",
        "label": "Card setting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ea43cd9bfdfad89",
        "type": "tab",
        "label": "Others",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8784652f4df53f52",
        "type": "ui_group",
        "name": "Default",
        "tab": "a98f1f5134af0f79",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a98f1f5134af0f79",
        "type": "ui_tab",
        "name": "Đăng nhập",
        "icon": " fa-sign-in",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "744f75fc62d28b76",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2c45c42f4405f6b9",
        "type": "ui_tab",
        "name": "Trang chủ",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "58ed85dc7f362a7e",
        "type": "ui_group",
        "name": "Lịch sử mở cửa",
        "tab": "2c45c42f4405f6b9",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d61508040186c2be",
        "type": "ui_group",
        "name": "Yêu cầu mở cửa từ xa",
        "tab": "2c45c42f4405f6b9",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0da7ee0a093dd653",
        "type": "ui_tab",
        "name": "Cài đặt",
        "icon": "fa-cog",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "59d8d615e4bc3ea8",
        "type": "ui_group",
        "name": "Mật khẩu cửa",
        "tab": "0da7ee0a093dd653",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c203151a5c185da",
        "type": "ui_group",
        "name": "Mật khẩu admin",
        "tab": "0da7ee0a093dd653",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c641f7d8cb07766",
        "type": "ui_group",
        "name": "Danh sách thẻ",
        "tab": "0da7ee0a093dd653",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30d70e2f569b0487",
        "type": "ui_group",
        "name": "Cài đặt khác",
        "tab": "0da7ee0a093dd653",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4afbff83344e8de",
        "type": "ui_group",
        "name": "Others_Form",
        "tab": "0da7ee0a093dd653",
        "order": 6,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ebf5054103628db",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5d42e9f70e1ccd68",
        "type": "ui_ui_control",
        "z": "b0aafce809c04ac4",
        "name": "",
        "events": "all",
        "x": 1260,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7072f6a8ae7eb2c1",
        "type": "change",
        "z": "b0aafce809c04ac4",
        "name": "hiện các tab khác",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Đăng nhập\"],\"show\":[\"Trang chủ\",\"Cài đặt\"]},\"tab\":\"Trang chủ\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "5d42e9f70e1ccd68"
            ]
        ]
    },
    {
        "id": "c49100a321517142",
        "type": "switch",
        "z": "b0aafce809c04ac4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 340,
        "wires": [
            [
                "7072f6a8ae7eb2c1",
                "8fd5c326cbd95841"
            ],
            [
                "84966820486c03e5"
            ]
        ]
    },
    {
        "id": "84966820486c03e5",
        "type": "ui_toast",
        "z": "b0aafce809c04ac4",
        "position": "top right",
        "displayTime": "2",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "thông báo thất bại",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "d59e2d7cfae3167f",
        "type": "function",
        "z": "b0aafce809c04ac4",
        "name": "xác thực tài khoản",
        "func": "if (msg.payload.email == flow.get('email') && msg.payload.password == flow.get('password')) {\n    msg.payload = true;\n}\nelse if (msg.payload.email != flow.get('email')) {\n    msg.payload = \"Sai email\";\n}\nelse {\n    msg.payload = \"Sai mật khẩu\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nmsg.payload[\"tab\"] = \"Home\";\nreturn msg;",
        "libs": [],
        "x": 750,
        "y": 340,
        "wires": [
            [
                "c49100a321517142"
            ]
        ]
    },
    {
        "id": "77c53a0b2c67e3e3",
        "type": "ui_form",
        "z": "b0aafce809c04ac4",
        "name": "",
        "label": "Đăng nhập",
        "group": "8784652f4df53f52",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Mật khẩu",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password": ""
        },
        "payload": "",
        "submit": "ĐĂNG NHẬP",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "d59e2d7cfae3167f"
            ]
        ]
    },
    {
        "id": "8fd5c326cbd95841",
        "type": "change",
        "z": "b0aafce809c04ac4",
        "name": "đặt nội dung thông báo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Đăng nhập thành công",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "e3bfc7b3497901d7"
            ]
        ]
    },
    {
        "id": "e3bfc7b3497901d7",
        "type": "ui_toast",
        "z": "b0aafce809c04ac4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "thông báo thành công",
        "x": 1320,
        "y": 280,
        "wires": []
    },
    {
        "id": "808f41a1f76ef687",
        "type": "http request",
        "z": "b0aafce809c04ac4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "4acbbc822d3822b0"
            ]
        ]
    },
    {
        "id": "4acbbc822d3822b0",
        "type": "json",
        "z": "b0aafce809c04ac4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "07defcf0334bc2d0"
            ]
        ]
    },
    {
        "id": "2c1ff1bb77e907ce",
        "type": "inject",
        "z": "b0aafce809c04ac4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "808f41a1f76ef687"
            ]
        ]
    },
    {
        "id": "07defcf0334bc2d0",
        "type": "change",
        "z": "b0aafce809c04ac4",
        "name": "lấy tài khoản",
        "rules": [
            {
                "t": "set",
                "p": "email",
                "pt": "flow",
                "to": "payload.feeds[0].field1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload.feeds[0].field2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "77c53a0b2c67e3e3"
            ]
        ]
    },
    {
        "id": "51d46e9b06601697",
        "type": "change",
        "z": "b0aafce809c04ac4",
        "name": "chỉ hiện trang đăng nhập",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Đăng nhập\"],\"hide\":[\"Trang chủ\",\"Cài đặt\"]},\"tab\":\"Đăng nhập\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "5b51d9055064421f"
            ]
        ]
    },
    {
        "id": "cc439e1c861f7fff",
        "type": "inject",
        "z": "b0aafce809c04ac4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "51d46e9b06601697"
            ]
        ]
    },
    {
        "id": "5b51d9055064421f",
        "type": "ui_ui_control",
        "z": "b0aafce809c04ac4",
        "name": "",
        "events": "all",
        "x": 540,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "118e1411f51e5e1b",
        "type": "ui_table",
        "z": "e6772d2f81a6e4c8",
        "group": "58ed85dc7f362a7e",
        "name": "Lịch sử mở cửa",
        "order": 0,
        "width": "8",
        "height": "5",
        "columns": [
            {
                "field": "time",
                "title": "Thời gian",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "method",
                "title": "Phương thức mở",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "Trạng thái",
                "width": "",
                "align": "left",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "uid",
                "title": "UID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 880,
        "y": 120,
        "wires": []
    },
    {
        "id": "41c1d1e158a1125d",
        "type": "inject",
        "z": "e6772d2f81a6e4c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "79622431b5526fed"
            ]
        ]
    },
    {
        "id": "79622431b5526fed",
        "type": "http request",
        "z": "e6772d2f81a6e4c8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2372286/feeds.json?api_key=3QTKD73Z92GV0WG9&results=20",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 120,
        "wires": [
            [
                "4a081e0fb00f5956"
            ]
        ]
    },
    {
        "id": "4a081e0fb00f5956",
        "type": "json",
        "z": "e6772d2f81a6e4c8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "f02daaefea9652f0"
            ]
        ]
    },
    {
        "id": "f02daaefea9652f0",
        "type": "function",
        "z": "e6772d2f81a6e4c8",
        "name": "thêm vào mảng lịch sử",
        "func": "var history = []\nmsg.payload.feeds.forEach(function(feed) {\n    history.push({\n        \"time\": new Date(feed[\"created_at\"]).toLocaleString('en-US'),\n        \"method\": feed.field1,\n        \"status\": feed.field2,\n        \"uid\": feed.field3\n    })\n});\nmsg.payload = history;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 120,
        "wires": [
            [
                "118e1411f51e5e1b"
            ]
        ]
    },
    {
        "id": "31d2f9bf08698523",
        "type": "ui_button",
        "z": "3fc6adadafdd20e0",
        "name": "",
        "group": "d61508040186c2be",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Mở cửa",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "cc1aa70841475fe2"
            ]
        ]
    },
    {
        "id": "cc1aa70841475fe2",
        "type": "mqtt out",
        "z": "3fc6adadafdd20e0",
        "name": "",
        "topic": "08_open_accept",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ebf5054103628db",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "2bad3cea4e7bb353",
        "type": "ui_text",
        "z": "7c273bcac53a9567",
        "group": "59d8d615e4bc3ea8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mật khẩu cửa hiện tại: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "c1d0e247174c5b2c",
        "type": "inject",
        "z": "7c273bcac53a9567",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "702643ac37f54f4e"
            ]
        ]
    },
    {
        "id": "8891e6f7d285f03f",
        "type": "json",
        "z": "7c273bcac53a9567",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "2e1eb960c21154f6",
                "2a83733deb1a192a"
            ]
        ]
    },
    {
        "id": "60e81e3532d91d26",
        "type": "ui_text",
        "z": "7c273bcac53a9567",
        "group": "3c203151a5c185da",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mật khẩu admin hiện tại: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "2e1eb960c21154f6",
        "type": "change",
        "z": "7c273bcac53a9567",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.feeds[0].field3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "2bad3cea4e7bb353"
            ]
        ]
    },
    {
        "id": "2a83733deb1a192a",
        "type": "change",
        "z": "7c273bcac53a9567",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.feeds[0].field8",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "60e81e3532d91d26"
            ]
        ]
    },
    {
        "id": "702643ac37f54f4e",
        "type": "http request",
        "z": "7c273bcac53a9567",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "8891e6f7d285f03f"
            ]
        ]
    },
    {
        "id": "4b8361a09411599c",
        "type": "ui_toast",
        "z": "7c273bcac53a9567",
        "position": "top right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1450,
        "y": 500,
        "wires": []
    },
    {
        "id": "a79f4b7f551c09e5",
        "type": "change",
        "z": "7c273bcac53a9567",
        "name": "show noti success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Thay đổi thành công",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 500,
        "wires": [
            [
                "4b8361a09411599c"
            ]
        ]
    },
    {
        "id": "49caa951def1d56b",
        "type": "function",
        "z": "7c273bcac53a9567",
        "name": "xử lý dữ liệu gửi đi",
        "func": "const info = msg.payload.feeds[0]\nconst {created_at, entry_id, ...fields} = info\n\nmsg.payload = { \n    \"api_key\": \"8MQ6OOBCODPX2I0Z\",\n    ...fields,\n    \"field8\": flow.get('newAdminPassword')\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 460,
        "wires": [
            [
                "b0b761a9daa2caf9"
            ]
        ]
    },
    {
        "id": "b0b761a9daa2caf9",
        "type": "http request",
        "z": "7c273bcac53a9567",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1050,
        "y": 460,
        "wires": [
            [
                "a79f4b7f551c09e5",
                "0e6a181403025455"
            ]
        ]
    },
    {
        "id": "26c13c375ae1a7c9",
        "type": "http request",
        "z": "7c273bcac53a9567",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 460,
        "wires": [
            [
                "ade5ee8e471a96a9"
            ]
        ]
    },
    {
        "id": "ade5ee8e471a96a9",
        "type": "json",
        "z": "7c273bcac53a9567",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "49caa951def1d56b"
            ]
        ]
    },
    {
        "id": "89fb8374654f23c5",
        "type": "mqtt out",
        "z": "7c273bcac53a9567",
        "name": "",
        "topic": "08_modify_door_pw",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ebf5054103628db",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "0e6a181403025455",
        "type": "change",
        "z": "7c273bcac53a9567",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "newAdminPassword",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 440,
        "wires": [
            [
                "d8aedb4de804d363"
            ]
        ]
    },
    {
        "id": "d8aedb4de804d363",
        "type": "mqtt out",
        "z": "7c273bcac53a9567",
        "name": "",
        "topic": "08_modify_admin_pw",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ebf5054103628db",
        "x": 1440,
        "y": 440,
        "wires": []
    },
    {
        "id": "71759ed521e52756",
        "type": "mqtt in",
        "z": "7c273bcac53a9567",
        "name": "",
        "topic": "08_modify_door_pw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0ebf5054103628db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "48f6dc6f41385949"
            ]
        ]
    },
    {
        "id": "48f6dc6f41385949",
        "type": "change",
        "z": "7c273bcac53a9567",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newPassword",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 580,
        "wires": [
            [
                "b72baa63c33386be"
            ]
        ]
    },
    {
        "id": "b72baa63c33386be",
        "type": "http request",
        "z": "7c273bcac53a9567",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "feb690b4a012a140"
            ]
        ]
    },
    {
        "id": "feb690b4a012a140",
        "type": "json",
        "z": "7c273bcac53a9567",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "864dff1e177f0c56"
            ]
        ]
    },
    {
        "id": "864dff1e177f0c56",
        "type": "function",
        "z": "7c273bcac53a9567",
        "name": "xử lý dữ liệu gửi đi",
        "func": "const info = msg.payload.feeds[0]\nconst {created_at, entry_id, ...fields} = info\n\nmsg.payload = { \n    \"api_key\": \"8MQ6OOBCODPX2I0Z\",\n    ...fields,\n    \"field3\": flow.get('newPassword')\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 580,
        "wires": [
            [
                "26960a3021a03a4f"
            ]
        ]
    },
    {
        "id": "26960a3021a03a4f",
        "type": "http request",
        "z": "7c273bcac53a9567",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "a79f4b7f551c09e5"
            ]
        ]
    },
    {
        "id": "d85f7d22480eaa24",
        "type": "ui_form",
        "z": "7c273bcac53a9567",
        "name": "",
        "label": "",
        "group": "59d8d615e4bc3ea8",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Mật khẩu cửa mới",
                "value": "newPassword",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "newPassword": ""
        },
        "payload": "",
        "submit": "Thay đổi",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "a71f0c862b2f4e10"
            ]
        ]
    },
    {
        "id": "a71f0c862b2f4e10",
        "type": "change",
        "z": "7c273bcac53a9567",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.newPassword",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "89fb8374654f23c5"
            ]
        ]
    },
    {
        "id": "1110a9424db649b0",
        "type": "ui_form",
        "z": "7c273bcac53a9567",
        "name": "",
        "label": "",
        "group": "3c203151a5c185da",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Mật khẩu admin mới",
                "value": "newAdminPassword",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "newAdminPassword": ""
        },
        "payload": "",
        "submit": "Thay đổi",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "f9a6e8845017f562"
            ]
        ]
    },
    {
        "id": "f9a6e8845017f562",
        "type": "change",
        "z": "7c273bcac53a9567",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newAdminPassword",
                "pt": "flow",
                "to": "payload.newAdminPassword",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "26c13c375ae1a7c9"
            ]
        ]
    },
    {
        "id": "d1602e0921351033",
        "type": "ui_list",
        "z": "adcb572b0eab86bd",
        "group": "0c641f7d8cb07766",
        "name": "card list",
        "order": 0,
        "width": 0,
        "height": 0,
        "lineType": "three",
        "actionType": "menu",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 1120,
        "y": 400,
        "wires": [
            [
                "a23cc330b227faab"
            ]
        ]
    },
    {
        "id": "986d62563e879dce",
        "type": "function",
        "z": "adcb572b0eab86bd",
        "name": "chuyển định dạng cho node ui-list",
        "func": "const cardObjs = []\nmsg.payload.forEach(function(uid) {\n    cardObjs.push({\"title\": uid, \"menu\": [\"Xóa\"]})\n});\nmsg.payload = cardObjs\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 400,
        "wires": [
            [
                "d1602e0921351033"
            ]
        ]
    },
    {
        "id": "645348692da9fe35",
        "type": "http request",
        "z": "adcb572b0eab86bd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/fields/4/last.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 400,
        "wires": [
            [
                "d38fed6d36008d1c"
            ]
        ]
    },
    {
        "id": "d38fed6d36008d1c",
        "type": "json",
        "z": "adcb572b0eab86bd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "24666de5a76e6bf2"
            ]
        ]
    },
    {
        "id": "2d7e3d22a2256078",
        "type": "inject",
        "z": "adcb572b0eab86bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "645348692da9fe35"
            ]
        ]
    },
    {
        "id": "24666de5a76e6bf2",
        "type": "function",
        "z": "adcb572b0eab86bd",
        "name": "chuyển chuỗi thành mảng",
        "func": "msg.payload = msg.payload.field4.split(',')\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 400,
        "wires": [
            [
                "986d62563e879dce"
            ]
        ]
    },
    {
        "id": "85a1ce96ce5fa4b6",
        "type": "mqtt in",
        "z": "adcb572b0eab86bd",
        "name": "",
        "topic": "08_card_enroll",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0ebf5054103628db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "4aaaa90ff2719991",
                "16129ede60893e45"
            ]
        ]
    },
    {
        "id": "0753ef1fdec67b7c",
        "type": "mqtt out",
        "z": "adcb572b0eab86bd",
        "name": "",
        "topic": "08_card_disable",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ebf5054103628db",
        "x": 1480,
        "y": 400,
        "wires": []
    },
    {
        "id": "a23cc330b227faab",
        "type": "change",
        "z": "adcb572b0eab86bd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.title",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 400,
        "wires": [
            [
                "0753ef1fdec67b7c",
                "645348692da9fe35"
            ]
        ]
    },
    {
        "id": "313210e5b085e543",
        "type": "mqtt in",
        "z": "adcb572b0eab86bd",
        "name": "",
        "topic": "08_card_disable",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0ebf5054103628db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "9d556e38d877863f",
                "b6dd0440e120e002"
            ]
        ]
    },
    {
        "id": "9d556e38d877863f",
        "type": "change",
        "z": "adcb572b0eab86bd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedUid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 680,
        "wires": [
            [
                "b191fed947819e5b"
            ]
        ]
    },
    {
        "id": "4aaaa90ff2719991",
        "type": "change",
        "z": "adcb572b0eab86bd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedUid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 600,
        "wires": [
            [
                "115cb8603ab79bf3"
            ]
        ]
    },
    {
        "id": "115cb8603ab79bf3",
        "type": "function",
        "z": "adcb572b0eab86bd",
        "name": "xử lý dữ liệu gửi đi",
        "func": "const info = msg.payload.feeds[0]\nconst {created_at, entry_id, ...fields} = info\n\nvar currentUids = msg.payload.feeds[0].field4\ncurrentUids = currentUids + \",\" + flow.get(\"selectedUid\")\n\nmsg.payload = { \n    \"api_key\": \"8MQ6OOBCODPX2I0Z\",\n    ...fields,\n    \"field4\": currentUids\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 540,
        "wires": [
            [
                "8090d5ed38e27966"
            ]
        ]
    },
    {
        "id": "16129ede60893e45",
        "type": "http request",
        "z": "adcb572b0eab86bd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "08b390b02726487d"
            ]
        ]
    },
    {
        "id": "08b390b02726487d",
        "type": "json",
        "z": "adcb572b0eab86bd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 540,
        "wires": [
            [
                "115cb8603ab79bf3"
            ]
        ]
    },
    {
        "id": "b191fed947819e5b",
        "type": "function",
        "z": "adcb572b0eab86bd",
        "name": "xử lý dữ liệu gửi đi",
        "func": "const info = msg.payload.feeds[0]\nconst {created_at, entry_id, ...fields} = info\n\nvar currentUids = msg.payload.feeds[0].field4\ncurrentUids = currentUids.split(\",\")\ncurrentUids = currentUids.filter(item => item != flow.get('selectedUid'))\n\nmsg.payload = { \n    \"api_key\": \"8MQ6OOBCODPX2I0Z\",\n    ...fields,\n    \"field4\": currentUids.join(',')\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 740,
        "wires": [
            [
                "8090d5ed38e27966"
            ]
        ]
    },
    {
        "id": "b6dd0440e120e002",
        "type": "http request",
        "z": "adcb572b0eab86bd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 740,
        "wires": [
            [
                "ef7db0c982b0ec9b"
            ]
        ]
    },
    {
        "id": "ef7db0c982b0ec9b",
        "type": "json",
        "z": "adcb572b0eab86bd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 740,
        "wires": [
            [
                "b191fed947819e5b"
            ]
        ]
    },
    {
        "id": "8090d5ed38e27966",
        "type": "http request",
        "z": "adcb572b0eab86bd",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 950,
        "y": 580,
        "wires": [
            [
                "645348692da9fe35"
            ]
        ]
    },
    {
        "id": "fda1642038e40025",
        "type": "ui_form",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "label": "",
        "group": "a4afbff83344e8de",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Số lần mở cửa sai",
                "value": "timesIncorrect",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Thời gian khóa (giây)",
                "value": "lockTime",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Thời gian còi báo (giây)",
                "value": "soundTime",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "timesIncorrect": "",
            "lockTime": "",
            "soundTime": ""
        },
        "payload": "",
        "submit": "Cập nhật",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "18b818b2e8eab5aa",
                "d8ddcd6b7e8db6a0"
            ]
        ]
    },
    {
        "id": "e4deb15bd00ce75d",
        "type": "ui_text",
        "z": "0ea43cd9bfdfad89",
        "group": "30d70e2f569b0487",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mở cửa sai {{msg.payload.feeds[0].field5}} lần",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "c03958fa47bff440",
        "type": "ui_text",
        "z": "0ea43cd9bfdfad89",
        "group": "30d70e2f569b0487",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sẽ khóa trong {{msg.payload.feeds[0].field6}} giây",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "7322b0d4b260efbf",
        "type": "ui_text",
        "z": "0ea43cd9bfdfad89",
        "group": "30d70e2f569b0487",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "và còi báo trong {{msg.payload.feeds[0].field7}} giây",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "86589fb7da5f50ca",
        "type": "ui_button",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "group": "30d70e2f569b0487",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Thay đổi",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "7a7c6c12ad100fcc"
            ]
        ]
    },
    {
        "id": "7a7c6c12ad100fcc",
        "type": "change",
        "z": "0ea43cd9bfdfad89",
        "name": "hiện form thay đổi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Cài_đặt_Others_Form\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "5a66f758b5418ce2"
            ]
        ]
    },
    {
        "id": "5a66f758b5418ce2",
        "type": "ui_ui_control",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "events": "all",
        "x": 480,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "18b818b2e8eab5aa",
        "type": "change",
        "z": "0ea43cd9bfdfad89",
        "name": "ẩn form",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Cài_đặt_Others_Form\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 660,
        "wires": [
            [
                "5fd1e1dcb99baa86"
            ]
        ]
    },
    {
        "id": "5fd1e1dcb99baa86",
        "type": "ui_ui_control",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "events": "all",
        "x": 480,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a26252b1b4f14e2b",
        "type": "inject",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "18b818b2e8eab5aa"
            ]
        ]
    },
    {
        "id": "b3c69bfb2a65a4cc",
        "type": "ui_toast",
        "z": "0ea43cd9bfdfad89",
        "position": "top right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1530,
        "y": 980,
        "wires": []
    },
    {
        "id": "27f95c5d7a79ede5",
        "type": "change",
        "z": "0ea43cd9bfdfad89",
        "name": "show noti success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Thay đổi thành công",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 980,
        "wires": [
            [
                "b3c69bfb2a65a4cc"
            ]
        ]
    },
    {
        "id": "6757bcafe1189043",
        "type": "switch",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 740,
        "wires": [
            [
                "e1879150b9d3fa6f"
            ]
        ]
    },
    {
        "id": "d8ddcd6b7e8db6a0",
        "type": "function",
        "z": "0ea43cd9bfdfad89",
        "name": "kiểm tra nếu không nhập field nào",
        "func": "if(msg.payload.timesIncorrect == null &&\n    msg.payload.lockTime == null &&\n    msg.payload.soundTime == null)\n    msg.payload = null\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 740,
        "wires": [
            [
                "6757bcafe1189043"
            ]
        ]
    },
    {
        "id": "691f1d7debc0fd3c",
        "type": "http request",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 420,
        "wires": [
            [
                "e267b83731751f38"
            ]
        ]
    },
    {
        "id": "e267b83731751f38",
        "type": "json",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "e4deb15bd00ce75d",
                "c03958fa47bff440",
                "7322b0d4b260efbf"
            ]
        ]
    },
    {
        "id": "8596796e54f56994",
        "type": "inject",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "691f1d7debc0fd3c"
            ]
        ]
    },
    {
        "id": "88d882676b240836",
        "type": "http request",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2371399/feeds.json?api_key=MYC796JMT0ZR6W4L&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 840,
        "wires": [
            [
                "275936a32a2f8d9e"
            ]
        ]
    },
    {
        "id": "c2155315347f1094",
        "type": "function",
        "z": "0ea43cd9bfdfad89",
        "name": "xử lý dữ liệu gửi đi",
        "func": "const info = msg.payload.feeds[0]\nconst {created_at, entry_id, ...fields} = info\n\nmsg.payload = { \n    \"api_key\": \"8MQ6OOBCODPX2I0Z\",\n    ...fields,\n}\n\nif(flow.get('timesIncorrect') != null)\n    msg.payload[\"field5\"] = flow.get('timesIncorrect')\nif(flow.get('lockTime') != null)\n    msg.payload[\"field6\"] = flow.get('lockTime')\nif(flow.get('soundTime') != null)\n    msg.payload[\"field7\"] = flow.get('soundTime')\n    \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 840,
        "wires": [
            [
                "66767046bf9cdafe"
            ]
        ]
    },
    {
        "id": "275936a32a2f8d9e",
        "type": "json",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 840,
        "wires": [
            [
                "c2155315347f1094"
            ]
        ]
    },
    {
        "id": "66767046bf9cdafe",
        "type": "http request",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1110,
        "y": 840,
        "wires": [
            [
                "27f95c5d7a79ede5",
                "0756b3e0e75f6585",
                "9912efebf35a7ed0",
                "04baad1ea1449321"
            ]
        ]
    },
    {
        "id": "e1879150b9d3fa6f",
        "type": "change",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timesIncorrect",
                "pt": "flow",
                "to": "payload.timesIncorrect",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lockTime",
                "pt": "flow",
                "to": "payload.lockTime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "soundTime",
                "pt": "flow",
                "to": "payload.soundTime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 740,
        "wires": [
            [
                "88d882676b240836"
            ]
        ]
    },
    {
        "id": "e0c237f0422b83af",
        "type": "change",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timesIncorrect",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 760,
        "wires": [
            [
                "d0fa82b41b593c21"
            ]
        ]
    },
    {
        "id": "d0fa82b41b593c21",
        "type": "mqtt out",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "topic": "08_modify_incorrect_times",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ebf5054103628db",
        "x": 1660,
        "y": 760,
        "wires": []
    },
    {
        "id": "94be16cd421f8e31",
        "type": "change",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "lockTime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 840,
        "wires": [
            [
                "a1a2b3a887a43904"
            ]
        ]
    },
    {
        "id": "a1a2b3a887a43904",
        "type": "mqtt out",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "topic": "08_modify_lock_time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ebf5054103628db",
        "x": 1640,
        "y": 840,
        "wires": []
    },
    {
        "id": "1e8db42beb7b9d17",
        "type": "change",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "soundTime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 900,
        "wires": [
            [
                "a8bb0f4276235937"
            ]
        ]
    },
    {
        "id": "a8bb0f4276235937",
        "type": "mqtt out",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "topic": "08_modify_sound_time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ebf5054103628db",
        "x": 1650,
        "y": 900,
        "wires": []
    },
    {
        "id": "0756b3e0e75f6585",
        "type": "switch",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "property": "timesIncorrect",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1290,
        "y": 760,
        "wires": [
            [
                "e0c237f0422b83af"
            ]
        ]
    },
    {
        "id": "9912efebf35a7ed0",
        "type": "switch",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "property": "lockTime",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1290,
        "y": 840,
        "wires": [
            [
                "94be16cd421f8e31"
            ]
        ]
    },
    {
        "id": "04baad1ea1449321",
        "type": "switch",
        "z": "0ea43cd9bfdfad89",
        "name": "",
        "property": "soundTime",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1290,
        "y": 900,
        "wires": [
            [
                "1e8db42beb7b9d17"
            ]
        ]
    }
]